{% include 'AcmeBookBundle::base.html.twig' %}
<h1>Book edit</h1>

<form action="{{ path('book_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table>
        <tr>
            <td>{{ form_label(edit_form.name) }}</td>
            <td>{{ form_widget(edit_form.name) }} {{ form_errors(edit_form.name) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(edit_form.price) }}</td>
            <td>{{ form_widget(edit_form.price) }} {{ form_errors(edit_form.price) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(edit_form.color) }}</td>
            <td>{{ form_widget(edit_form.color) }} {{ form_errors(edit_form.color) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(edit_form.isNovell) }}</td>
            <td>{{ form_widget(edit_form.isNovell) }} {{ form_errors(edit_form.isNovell) }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Save</button>
                <form action="{{ path('book_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {#
        <tr>
            <td>xxx</td>
            <td>xxx</td>
        </tr>
        #}
    </table>
    {{ form_rest(edit_form) }}
</form>
